<div class="container" 
  fxLayout="column"
  fxLayoutGap="10px">

  <div fxFlex>
    <div>
      <h3>Menu</h3>
      <hr>
    </div>
  </div>


  <div fxFlex *ngIf="dishes">
    <mat-grid-list cols="2" rowHeight="200px">
      <mat-grid-tile *ngFor="let dish of dishes" [routerLink]="['/dishdetail', dish.id]"> <!--Structural directives is used to iterate over array of items-->
        <img height="200px" src={{dish.image}} alt={{dish.name}}> <!--{{dish.name}} -> Interpolation-->
        <mat-grid-tile-footer>
          <h1 matLine> {{dish.name | uppercase}}</h1>  <!--upppercase is pipe-->
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div fxFlex [hidden]="dishes">
    <mat-spinner></mat-spinner><h4>Loading . . . Please wait </h4>
  </div>
</div>
